*{
    box-sizing: border-box;
    padding: 0;
}

html{
    font-size: 62.5%;
    font-family: 'Arial', sans-serif;
}

.content{
    margin-left:15%;
    padding-top: 3.5%;
    width: 85%;
    height: 100%;
    /* background-color: RGB(240,239,245); */
    background-color: #ACACAC;
    /* background-color: purple; */
}

/* 
.text{
    background-color: seagreen;
    width: 100%;
    height: 30%;
} */

/* 
.form_nhap{
    margin-left:0%;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: transparent;
}

.form_themkhach{
    width: 100%;
    height:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.title_themkhach{
    margin-top:10%;
    width: 95%;
    height: 10%;
    display: flex;
} */

/* 
.icon_themkhach{
    width: 5%;
    height: 100%;

    display: flex;
    align-items: center;
}
.icon_themkhach i{
    font-size: 2rem;
    color: black;
}
.text_themkhach{
    width: auto;
    height: 100%;
    color: black;
    font-size: 1.7rem;
    font-weight: 600;
    outline: 1.75rem;
}
.container_themkhach{
    width: 95%;
    height: 90%;
    display: flex;
    align-items: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
}
.left_themkhach{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding-left: 2rem;
    padding-right: 2rem;
}
.nhap_cccd{
    width: 100%;
    height: 25%;
    display: flex;
    justify-content: center;
    align-items: center;

}
.title_cccd{
    width: 50%;
    height: 30%;
    font-size: 1.5rem;
}
.nhap_cccd input{
    width: 100%;
    height: 40%;
    border: none;
    outline: none;
    border-radius: 1rem;
}
.nhap_hoten{
    width: 100%;
    height: 25%;
    display: flex;
    justify-content: center;
    align-items: center;

}
.title_hoten{
    width: 50%;
    height: 30%;
    font-size: 1.5rem;
}
.nhap_hoten input{
    width: 100%;
    height: 40%;
    border: none;
    outline: none;
    border-radius: 1rem;
}
.nhap_sodt{
    width: 100%;
    height: 25%;
    display: flex;
    justify-content: center;
    align-items: center;

}
.title_sodt{
    width: 50%;
    height: 30%;
    font-size: 1.5rem;
}
.nhap_sodt input{
    width: 100%;
    height: 40%;
    border: none;
    outline: none;
    border-radius: 1rem;
}
.nhap_diachi{
    width: 100%;
    height: 25%;
    display: flex;
    justify-content: center;
    align-items: center;

}
.title_diachi{
    width: 50%;
    height: 30%;
    font-size: 1.5rem;
}
.nhap_diachi input{
    width: 100%;
    height: 40%;
    border: none;
    outline: none;
    border-radius: 1rem;
}
.right_themkhach{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding-left: 2rem;
    padding-right: 2rem;
}
.nhap_email{
    width: 100%;
    height: 25%;
    display: flex;
    justify-content: center;
    align-items: center;

}
.title_email{
    width: 50%;
    height: 30%;
    font-size: 1.5rem;
}
.nhap_email input{
    width: 100%;
    height: 40%;
    border: none;
    outline: none;
    border-radius: 1rem;
}.nhap_gioitinh{
    width: 100%;
    height: 25%;
    display: flex;
    justify-content: center;
    align-items: center;

}
.title_gioitinh{
    width: 50%;
    height: 30%;
    font-size: 1.5rem;
}
.nhap_gioitinh input{
    width: 100%;
    height: 40%;
    border: none;
    outline: none;
    border-radius: 1rem;
}.nhap_quoctich{
    width: 100%;
    height: 25%;
    display: flex;
    justify-content: center;
    align-items: center;

}
.title_quoctich{
    width: 50%;
    height: 30%;
    font-size: 1.5rem;
}
.nhap_quoctich input{
    width: 100%;
    height: 40%;
    border: none;
    outline: none;
    border-radius: 1rem;
}.nhap_loaikhach{
    width: 100%;
    height: 25%;
    display: flex;
    justify-content: center;
    align-items: center;

}
.title_loaikhach{
    width: 50%;
    height: 30%;
    font-size: 1.5rem;
}
.nhap_loaikhach input{
    width: 100%;
    height: 40%;
    border: none;
    outline: none;
    border-radius: 1rem;
} */


.manage_customers {
    margin-left:0%;
    width:100%;
    height:100%;
    display: grid;
    grid-template-columns: 3fr 2fr;
    background-color: transparent;
    column-gap: 0.2%;
}

.add_customers_area {
    margin-top: 3%;
    margin-bottom: 3%;
    /* margin-left: 1%; */
    margin-right: 4%;
    width: 97%;
    height:96%;

    background-color: #F0EFF5;
    border-radius: 10px;
}


.list_customers{
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 2%;
    /* margin-right: 1%; */
    width: 96%;
    height:96%;

    border-radius: 10px;
    display: flex;
    flex-direction: column;
    /* background-color: blue; */
    background-color: #F0EFF5;
    /* position: fixed; */
}

.title_table_customers{
    width: auto;
    height: auto;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.7rem;
    font-weight: 600;
    background-color: transparent;
    text-align: left;
    border-bottom: 2px solid black;
    margin: 2rem 2rem 1rem 2rem;
    padding-bottom: 1rem;
}

.table_customers_wrapper {
    width: auto;
    height:90%;
    margin: 0rem 2rem 2rem 2rem;
    /* background-color: aqua; */
}

.table_customers {
    display: block;
    overflow: hidden;
    table-layout: fixed;
    border-collapse: collapse;
    box-shadow: 0px 5px 5px #ccc;
    border-radius: 5px;
    white-space: nowrap;
    overflow-x: auto;
    font-size: 1.5rem;
    width: 100%;
}

/* width: 100%; */

.table_customers thead {
    background-color: #ccc;
    color: #222;
}

.table_customers th,
.table_customers td {
    text-align: center;
    padding: 1rem;
    vertical-align: middle;
    /* border: 1px solid black; */
}

.table_customers td {
    border-top: 0.5px solid #ddd;
    overflow: hidden;
    text-overflow: ellipsis;
}

.table_customers tr:hover {
    background-color: #eee;
}

/* ========================================================= */

.search_wrapper {
    background-color: transparent;
    width: 80%;
    height: 5rem;
    margin: 0rem 0rem 1rem 2rem;
    display: grid;
    grid-template-columns: 2fr 2fr 1fr;
}

.search {
    background-color: transparent;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.search #search_box {
    background-color: transparent;
    height: 3rem;
    width: 20rem;
    font-size: 1.5rem;
    border-radius: 5px;
    border: 2px solid black;
    vertical-align: middle;
    padding: 0.5rem;
}

.select_categories {
    background-color: blue;
    margin: auto;
}

.categories_box {
    margin: auto;
    margin-left:0;
    width: 15rem;
    height: 100%;
}

.categories_box #cate_box {
    pointer-events:none;
    background-color: transparent;
    height: 3rem;
    width: 15rem;
    font-size: 1.5rem;
    border-radius: 5px;
    border: 2px solid black;
    padding: 0.5rem;
    background-color: aquamarine;
}

.search_button {
    background-color: red;
}

/* ========================================================= */

.title_add_customers{
    width: auto;
    height: auto;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.7rem;
    font-weight: 600;
    background-color: transparent;
    text-align: left;
    border-bottom: 2px solid black;
    margin: 2rem;
    padding-bottom: 1rem;
}


/* ========================================================= */


.box_danhsach{

    width: 95%;
    height: 70%;
    display: flex;
    align-items: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
    background-color: white;
    border-radius: 10%;

}
.themkhach_bt{
    width: 30%;
    height:10%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10%;
    background-color: RGB(51,50,105);
    padding-top: 2rem;
    padding-bottom: 2rem;
}
.icon_bt{
    width: 20%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}
.icon_bt i{
    font-size: 2rem;
    color: white;
}
.text_bt
{
    width: 80%;
    height: 100%;
    color: white;
    font-size: 1.75rem;
    font-weight: 600;
    outline: 1.75rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.avata_user{
    width: 25%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items:  center;
    padding-top: 1rem;
}
.container_user{
    width: 94%;
    height: 20%;
    background-color: white;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items:  center;
    justify-content: center;
}
.avt{
    width: 40%;
    height: 50%;
    border-radius: 50%;
    background-color: blueviolet;
}
.name{
    width: 40%;
    height: 20%;
    display: flex;
    align-items: center;

}
.em{
    width: 80%;
    height: 30%;
    display: flex;
    justify-content: center;
}
.name_mini{
    width: 85%;
    height: 50%;
    font-size: 1rem;
    font-weight: 900;
}
.icon{
    width: 15%;
    height: 50%;
    font-size: 1rem;
}
.icon i{
    margin: auto;
}
.ema{
    color: RGB(149,155,165);
    font-size: 1rem;
}
.avt img{
    width: 100%;
    height: 100%;
}
