.App {
  width: 100vw;
  height: 100vh;
  /* background: #F0EFF5; */
}

body {
  margin: 0;
  padding:0;
}

<<<<<<< HEAD
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


body{
  background: #F0EFF5;
}
h1{
  position: absolute;
  width: 362px;
  height: 60px;
  left: 1246px;
  top: 240px;

  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 60px;

  letter-spacing: 0.01em;
  text-transform: capitalize;

  color: #344054;
}
#p{
  position: absolute;
  width: 346px;
  height: 48px;
  left: 1253px;
  top: 308px;

  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;

  color: #667085;
}
.html{
  margin: 0;
}
.box{
  width: 200px;
  height: 25px;
}
#login_button{
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 154px;
  gap: 10px;

  position: absolute;
  width: 390px;
  height: 44px;
  left: 1233px;
  top: 612px;

  background: #333269;
  border-radius: 8px;
}
#bt{
  width: 89px;
  height: 20px;

  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  /* identical to box height, or 125% */


  color: #FFFFFF;


  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}
#gg_button{
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px 90px;
  gap: 10px;

  position: absolute;
  width: 390px;
  height: 44px;
  left: 1233px;
  top: 672px;

  border: 1px solid #D0D5DD;
  border-radius: 8px;
}
#gg{
  width: 178px;
  height: 20px;

  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  /* identical to box height, or 125% */


  /* Secondary Color */

  color: #344054;


  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
}
#box_right{
  width: 50vw;
  height: 100vh;
  float: right;
}

.box_login{
  width: 400px;
  height: 520px;
  margin: auto;
}
#text_em{
  box-sizing: border-box;

  position: absolute;
  width: 360px;
  height: 44px;
  left: 1246px;
  top: 404px;

  border: 1px solid #D0D5DD;
  border-radius: 8px;
}
#text_pw{
  box-sizing: border-box;

  position: absolute;
  width: 360px;
  height: 44px;
  left: 1246px;
  top: 496px;

  border: 1px solid #D0D5DD;
  border-radius: 8px;
}
#log{
  width: 360px;
  height: 72px;
  margin: 2px;
  box-sizing: content-box;
}
#em{
  position: absolute;
  width: 100px;
  height: 20px;
  left: 1246px;
  top: 376px;

  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;

  color: #344054;
}
#pw{
  position: absolute;
  width: 63px;
  height: 20px;
  left: 1246px;
  top: 468px;

  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;

  color: #344054;
}
#fg{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 113px;

  position: absolute;
  width: 115px;
  height: 20px;
  left: 1501px;
  top: 550px;

  background-color: #F0EFF5;
  border-color: #F0EFF5;
  border-style: none;
  color: purple;
}
#miss{
  position: absolute;
  width: 360px;
  height: 21px;
  left: 1246px;
  top: 663px;

  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  /* or 171% */

  text-align: center;

  /* Secondary Color */

  color: #344054;
}

/* Trong khung bên trái */
#box_left{
  width: 50vw;
  height: 100vh;
  float: left;
}

#img_box{
  position: absolute;
  width: 827px;
  height: 957px;
  left: 31px;
  top: 34px;

  background: #D9D9D9;
  border-radius: 40px;
}

#img{
  position: absolute;
  width: 609px;
  height: 642px;
  left: 100px;
  top: 183px;

  background: url(./data/ks.png);
}
#sign_up{
  background-color: #F0EFF5;
  border-color: #F0EFF5;
  border-style: none;
  color: purple;
}
=======
>>>>>>> 38bd8f4f12160590cdef83f0df89e19d4df46956
